<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @letture.data %>
</p>

<p>
  <strong>Consumofascia1:</strong>
  <%= @letture.consumofascia1 %>
</p>

<p>
  <strong>Consumofascia2:</strong>
  <%= @letture.consumofascia2 %>
</p>

<p>
  <strong>Consumofascia3:</strong>
  <%= @letture.consumofascia3 %>
</p>

<p>
  <strong>Consumofascia1periodoprecedente:</strong>
  <%= @letture.consumofascia1periodoprecedente %>
</p>

<p>
  <strong>Consumofascia2periodoprecedente:</strong>
  <%= @letture.consumofascia2periodoprecedente %>
</p>

<p>
  <strong>Consumofascia3periodoprecedente:</strong>
  <%= @letture.consumofascia3periodoprecedente %>
</p>

<p>
  <strong>Produzionefascia1:</strong>
  <%= @letture.produzionefascia1 %>
</p>

<p>
  <strong>Produzionefascia2:</strong>
  <%= @letture.produzionefascia2 %>
</p>

<p>
  <strong>Produzionefascia3:</strong>
  <%= @letture.produzionefascia3 %>
</p>

<p>
  <strong>Immissionefascia1:</strong>
  <%= @letture.immissionefascia1 %>
</p>

<p>
  <strong>Immissionefascia2:</strong>
  <%= @letture.immissionefascia2 %>
</p>

<p>
  <strong>Immissionefascia3:</strong>
  <%= @letture.immissionefascia3 %>
</p>

<%= link_to 'Edit', edit_letture_path(@letture) %> |
<%= link_to 'Back', lettures_path %>
